* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* intro section */
.intro, .agency-fact, .footer, .we-are, #features {
    background-color: #F5F7FC;
}

h2, h5{
    color: #071E55;
    font-weight: bold;
}


.img-icon {
    font-size: 5rem;
}
.fun-icon {
    font-size: 3rem;
}

.trust {
    background-color: #221f2b;
}

.animate{
    transition: transform 2s;
}
.animate:hover {
    transform: scale(1.1);
}
.animation2 {
    transition: transform 1.5s;
}
.animation1:hover .animation2{
    transform: scale(1.6);
}










.gold-star {
    color: gold;
    font-size: 1rem;
    margin: 0 3px;
}


.hovered-bb:hover{
    border-bottom: 3px blue solid;
}

.badge {
    left: 100;
    right: 0;
}




/* ceo-says */



.ceo-says{
    font-size: 1.5rem;
    color: gray;

}